<article>
    <section class="">
     
        <div id="carouselExampleFade" class="carousel slide carousel-fade d-none d-sm-block" data-bs-ride="carousel" data-bs-touch="false" > <!--data-bs-ride="carousel" data-bs-touch="false"-->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner ">
            <div class="carousel-item" data-bs-interval="5000" *ngFor="let item of carouselItems; let i = index" [class.active]="i === 0">
              <img src="{{item.ImagenWeb}}" class="d-block w-100" alt="...">
              <div class="carousel-caption ">
                <div class="w-20 mb-2 d-none d-md-block">
                  <img class="img-fluid" src="{{item.Logo}}" alt="">
                </div>
                <div class="mb-1 w-50 d-none d-xl-block">
                  <span class="badge bg-secondary text-white rounded-pill detail-tag me-1">
                    <p class="fw-bold">{{item.Tipo}}</p>
                  </span>
                  <span class="badge bg-secondary text-white rounded-pill  detail-tag me-1" *ngIf="item.Subtitulado === 'Si'">
                    <p class="fw-bold">Subtitulado</p>
                  </span>
                  <span class="badge bg-secondary text-white rounded-pill  detail-tag me-1" *ngIf="item.Doblado === 'Si'">
                    <p class="fw-bold">Doblado</p>
                  </span>
                  <span class="badge bg-secondary text-white rounded-pill  detail-tag ">
                    <p class="fw-bold">{{item.Year}}</p>
                  </span>
                </div>
                <p class="w-40 carousel-description d-none d-xl-block">{{item.Sinopsis}}</p>
                <h5 class="fw-bolder carousel-description">¡Nueva Temporada!</h5>
                  <button type="button" class="btn btn-sm btn-primary btn-icon rounded-circle btn-play"><i
                    class="bi fa-solid fa-play bi" style="color: #17181C;"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-light btn-icon rounded-pill btn-play-trailer"><i class="fa-solid fa-circle-info"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-light btn-icon rounded-pill btn-play-list"><i
                      class="fa-solid fa-list-ul"></i></button>
              </div>                
            </div>
            
          </div>
          
        </div>
        <!--Carousel Movil-->
        <div id="carouselExampleFade" class="carousel slide carousel-fade d-sm-none " data-bs-ride="carousel" > <!--data-bs-ride="carousel" data-bs-touch="false"-->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner ">
            <div class="carousel-item active" data-bs-interval="5000">
              <img src="assets/img/portadamovil1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption carousel-movil">
                
                
                <p class="w-40 carousel-description d-none d-xl-block">El camino de los herreros será más pacifico que el distrito rojo</p>
                <h5 class="fw-bolder carousel-description">¡Nueva Temporada!</h5>
                  <button type="button" class="btn btn-sm btn-primary btn-icon rounded-circle btn-play"><i
                    class="bi fa-solid fa-play bi" style="color: #17181C;"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-light btn-icon rounded-pill btn-play-trailer"><i class="fa-solid fa-circle-info"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-light btn-icon rounded-pill btn-play-list"><i
                      class="fa-solid fa-list-ul"></i></button>
              </div>                
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="assets/img/portadamovil2.jpg" class="d-block w-100 " alt="...">
              <div class="carousel-caption carousel-movil">
                <div class="w-20 mb-2 d-none d-md-block">
                  <img class="img-fluid" src="assets/img/logoattack.png" alt="">
                </div>
                <div class="mb-1 w-50 d-none d-xl-block">
                  <span class="badge bg-secondary text-white rounded-pill detail-tag">
                    <p class="fw-bold">Serie</p>
                  </span>
                  <span class="badge bg-secondary text-white rounded-pill  detail-tag">
                    <p class="fw-bold">Subtitulado</p>
                  </span>
                  <span class="badge bg-secondary text-white rounded-pill  detail-tag">
                    <p class="fw-bold">Doblado</p>
                  </span>
                  <span class="badge bg-secondary text-white rounded-pill  detail-tag">
                    <p class="fw-bold">2020</p>
                  </span>
                </div>
                <p class="w-40 carousel-description d-none d-xl-block">La humanidad esta al borde de la extinsión</p>
                <h5 class="fw-bolder carousel-description">Temporada Final!</h5>
                  <button type="button" class="btn btn-sm btn-primary btn-icon rounded-circle btn-play"><i
                    class="bi fa-solid fa-play bi" style="color: #17181C;"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-light btn-icon rounded-pill btn-play-trailer"><i class="fa-solid fa-circle-info"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-light btn-icon rounded-pill btn-play-list"><i
                      class="fa-solid fa-list-ul"></i></button>
              </div>  
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="assets/img/portadamovil3.jpg" class="d-block w-100 " alt="...">
              <div class="carousel-caption carousel-movil">
                <div class="w-20 mb-2 d-none d-md-block">
                  <img class="img-fluid" src="assets/img/logohero.png" alt="">
                </div>
                <div class="mb-1 w-50 d-none d-xl-block">
                  <span class="badge bg-secondary text-white rounded-pill detail-tag">
                    <p class="fw-bold">Serie</p>
                  </span>
                  <span class="badge bg-secondary text-white rounded-pill  detail-tag">
                    <p class="fw-bold">Subtitulado</p>
                  </span>
                  <span class="badge bg-secondary text-white rounded-pill  detail-tag">
                    <p class="fw-bold">Doblado</p>
                  </span>
                  <span class="badge bg-secondary text-white rounded-pill  detail-tag">
                    <p class="fw-bold">2020</p>
                  </span>
                </div>
                <p class="w-40 carousel-description d-none d-xl-block">Un Otaku se encuntra un libro que lo transporta a otro mundo, ahi se convertira en el heroe del Escudo </p>
                <h5 class="fw-bolder carousel-description">¡Ya disponible!</h5>
                  <button type="button" class="btn btn-sm btn-primary btn-icon rounded-circle btn-play"><i
                    class="bi fa-solid fa-play bi" style="color: #17181C;"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-light btn-icon rounded-pill btn-play-trailer"><i class="fa-solid fa-circle-info"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-light btn-icon rounded-pill btn-play-list"><i
                      class="fa-solid fa-list-ul"></i></button>
              </div>  
            </div>
          </div>
          
        </div>
       
    </section>
    

  </article>

  