<section class="container mt-5">

    <div class="d-flex">
      <div>

        <p class="text-white fw-normal fs-6">Los <strong>10 más vistos</strong> en tu pais</p>

      </div>

    </div>

    <div class="carousel ">

      <div class="masvisto">
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>
        <div>

          <div class="card-lg">
            <h2>SPY X FAM</h2>
            <span class="type">Serie - Sub - Dob</span>
            <span class="calificacion">5.0 <i class="fa-solid fa-star" style="color: #e5cc2a;"></i></span>
            <div class="card-lg-button">
                <a href="#"><i class="fa-solid fa-play"></i></a>
                <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
            </div>
            <div class="pic">
              <img src="assets/img/spyxfam.jpg" alt="">
            </div>
        </div>

        </div>


      </div>
    </div>




  </section>
