<section class="container mt-5">

    <div class="d-flex">
      <div>

        <p class="text-white fw-normal fs-6">Hola <strong>Daniel</strong> continua viendo anime</p>

      </div>

    </div>

    <div class="carousel ">

      <div class="slider">
        <div>

          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>
            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <span class="fw-lighter">Kimetsu No Yaiba</span>
            <p class="fw-bold">T1 - C1 Punto de Infleción</p>
          </span>

        </div>

        <div>
          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>

            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <span class="fw-lighter">SPY X FAM</span>
            <p class="fw-bold">T1 - C6 Una Niña telepata</p>
          </span>
        </div>

        <div>
          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>
            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <p class="fw-bold">T1 - C3 .......</p>
          </span>
        </div>

        <div>
          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>
            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <p class="fw-bold">T1 - C4 .......</p>
          </span>
        </div>

        <div>
          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>
            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <p class="fw-bold">T1 - C5 .......</p>
          </span>
        </div>
        <div>

          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>
            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <p class="fw-bold">T1 - C6 .......</p>
          </span>
        </div>

        <div>
          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>
            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <p class="fw-bold">T1 - C7 .......</p>
          </span>
        </div>

        <div>
          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>
            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <p class="fw-bold">T1 - C8 .......</p>
          </span>
        </div>

        <div>
          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>
            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <p class="fw-bold">T1 - C9 .......</p>
          </span>
        </div>

        <div>
          <div class="card-min-cap">

            <div class="card-min-button">
              <i class="fa-solid fa-play"></i>
            </div>
            <span class="cap-duracion">18 min. restantes</span>
            <div class="pic">
              <img src="assets/img/kimetsu-bg.webp" alt="">
            </div>
            <div class="progreso-bar progreso" style="width: 50%;"></div>

          </div>
          <span class="text-white cap-title">
            <p class="fw-bold">T1 - C10 .......</p>
          </span>
        </div>
      </div>
    </div>




  </section>
